body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
}

.container {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.container img {
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: black;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.caption h1 {
  text-transform: uppercase;
  margin: 0;
}

.caption p {
  font-size: 18px;
  text-transform: capitalize;
}

.container:hover .caption {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container:hover img {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}